name: Build request Docker image
on:
  workflow_call:
    inputs:
      build_args:
        required: false
        type: string
        default: ""
        description: "Extra arguments to be passed in during build time"
      repository:
        required: true
        type: string
        description: The repository on the registry where the image should reside.
      dockerfile:
        required: true
        type: string
        description: The dockerfile to use for the build.
      context:
        required: false
        type: string
        default: "."
        description: The location we should be to build a dockerfile.
      targets:
        description: "JSON string showing the target architectures"
        type: string
        default: '["x86", "arm"]'
      clear-tools:
        default: false
        type: boolean
        description: Clear Github workflow tools from disk to free up space for large image builds.
      anchore:
        default: false
        type: boolean
        description: Run anchore scans and upload the results to GHAS.
    outputs:
      date:
        description: The date the image was built
        value: ${{ jobs.merge.outputs.date }}
      digest:
        description: The digest of the image
        value: ${{ jobs.merge.outputs.digest }}
      image:
        description: The full image repository & tag
        value: ${{ jobs.merge.outputs.image }}
      version:
        description: The image tag
        value: ${{ jobs.merge.outputs.version }}
      pinned-version:
        description: The image tag & digest
        value: ${{ jobs.merge.outputs.pinned-version }}
permissions:
  actions: read
  checks: write
  contents: read
  security-events: write
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.type == 'arm' && 'docker-build-arm' || 'docker-build' }}
    strategy:
      matrix:
        type: ${{ fromJSON(inputs.targets) }}
    steps:
      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@f24d7193d98baebaeacc7e2227925dd47cc267f5 #v4.2.0
        with:
          aws-access-key-id: ${{ vars.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to container registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 #v3.4.0
        with:
          registry: harbor.onebrief.tools
          username: ${{ vars.HARBOR_USER }}
          password: ${{ secrets.HARBOR_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 #v3.11.1
        with:
          driver: remote
          endpoint: tcp://buildkit-${{ matrix.type }}-buildkitd.buildkit-${{ matrix.type }}.svc.cluster.local:1234

      - name: Free up space TEMP
        if: inputs.clear-tools
        run: |
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 #v5.7.0
        with:
          images: harbor.onebrief.tools/${{ inputs.repository }}

      - name: Build and push docker image by digest
        id: build
        uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 #v6.16.0
        env:
          image-cache: ${{ format('type=s3,region=us-west-2,bucket=ob-misc-data,prefix=docker-cache/,name={0}-{1},mode=max', fromJSON(steps.meta.outputs.json).tags[0], runner.arch) }}
        with:
          push: true
          file: ${{ inputs.dockerfile }}
          context: ${{ inputs.context }}
          outputs: type=image,name=harbor.onebrief.tools/${{ inputs.repository }},push-by-digest=true,name-canonical=true,push=true
          build-args: |
            GIT_COMMIT=${{ github.sha }}
            VERSION=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
            BUILD_DATE=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.created'] }}
            ${{ inputs.build_args }}
          secrets: |
            turbo-token=${{ secrets.TURBO_TOKEN }}
          labels: |
            ${{ steps.meta.outputs.labels }}
            onebrief.created=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.created'] }}
            onebrief.version=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}
            onebrief.git.sha=${{ github.sha }}

      # This shouldn't be needed, but I couldn't get the below scripts to work in the `value:` fields of the `output:`
      - name: Set outputs
        id: setout
        shell: bash
        env:
          reponame: ${{ inputs.repository }}-${{ matrix.type }}
        run: |
          echo "image=${{ fromJSON(steps.meta.outputs.json).tags[0] }}" >> $GITHUB_OUTPUT
          echo "version=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}" >> $GITHUB_OUTPUT
          echo "date=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.created'] }}" >> $GITHUB_OUTPUT
          echo "digestname=${reponame/\//-}" >> $GITHUB_OUTPUT

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 #v4.6.2
        with:
          name: digests-${{ steps.setout.outputs.digestname }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    name: Merge
    runs-on: ubuntu-latest
    needs:
      - build
    outputs:
      image: ${{ steps.setout.outputs.image }}
      digest: ${{ steps.setout.outputs.digest }}
      version: ${{ steps.setout.outputs.version }}
      date: ${{ steps.setout.outputs.date }}
      pinned-version: ${{ steps.setout.outputs.version }}@${{ steps.setout.outputs.digest }}
    steps:
      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

      - name: Set outputs
        id: calculate
        shell: bash
        env:
          reponame: ${{ inputs.repository }}
        run: |
          echo "digestname=${reponame/\//-}" >> $GITHUB_OUTPUT

      - name: Download digests
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 #v4.3.0
        with:
          path: /tmp/digests
          pattern: digests-${{ steps.calculate.outputs.digestname }}-*
          merge-multiple: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 #v3.10.0

      - name: Login to container registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 #v3.4.0
        with:
          registry: harbor.onebrief.tools
          username: ${{ vars.HARBOR_USER }}
          password: ${{ secrets.HARBOR_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 #v5.7.0
        with:
          images: harbor.onebrief.tools/${{ inputs.repository }}

      - name: Create manifest list and push
        working-directory: /tmp/digests
        shell: bash
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf 'harbor.onebrief.tools/${{ inputs.repository }}@sha256:%s ' *)

      - name: Inspect image
        id: setout
        shell: bash
        run: |
          docker buildx imagetools inspect harbor.onebrief.tools/${{ inputs.repository }}:${{ steps.meta.outputs.version }}
          echo "image=${{ fromJSON(steps.meta.outputs.json).tags[0] }}" >> $GITHUB_OUTPUT
          echo "version=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }}" >> $GITHUB_OUTPUT
          echo "date=${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.created'] }}" >> $GITHUB_OUTPUT
          echo "digest=$(docker buildx imagetools inspect harbor.onebrief.tools/${{ inputs.repository }}:${{ steps.meta.outputs.version }} --format "{{json .Manifest}}" | jq -r .digest)" >> $GITHUB_OUTPUT

  anchore:
    name: Anchore
    runs-on: "ubuntu-22.04-4core" # Use the larger runner disk so we have space for all of the images.
    if: inputs.anchore
    needs:
      - merge
    permissions:
      contents: read
      security-events: write
      actions: read
      checks: read
    steps:
      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
      - name: Login to Harbor
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 #v3.4.0
        with:
          registry: harbor.onebrief.tools
          username: ${{ vars.HARBOR_USER }}
          password: ${{ secrets.HARBOR_TOKEN }}
      - name: clean image name
        id: outputs
        run: |
          echo "category-name=$(echo ${{ needs.merge.outputs.image }} | awk -F':' '{print $1}' )" | tee -a $GITHUB_OUTPUT
      - uses: anchore/scan-action@2c901ab7378897c01b8efaa2d0c9bf519cc64b9e #v6.2.0
        id: scan
        with:
          image: ${{ needs.merge.outputs.image }}
          fail-build: false
          cache-db: true
      - name: upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@7e3036b9cd87fc26dd06747b7aa4b96c27aaef3a #v3.28.17
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
          matrix: '{ "images": "${{ steps.outputs.outputs.category-name }}" }'